@import "./fonts.css";

:root {

  --color-primary: #5E646E;
  --color-bg: #5E646E;
  --color-white: #ffffff;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "AtoZ", sans-serif;
  background:#fff;
}